.modal_overlay {
	position: fixed;
	width: 100%;
	background-color: rgba(217, 217, 217, 0.85);
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_popup {
	height: 602px;
	width: 879px;
	background: linear-gradient(179.27deg, #2DB3DD 0.82%, #FFFFFF 86.37%) no-repeat;
	box-sizing: border-box;
	padding: 20px 80px 80px;
	display: flex;
	flex-direction: column;
}

.modal_content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal_controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal_button {
	height: 58px !important;
	width: 185px !important;
}

.modal_controls_left_side {
	display: flex;
	align-items: center;
}

.modal_calendar_image {
	margin-right: 60px;
}

