@font-face {
	font-family: 'Inter';
	src: local("src/public/fonts/Inter.ttf");
}

body {
	margin: 0;
	height: 100vh;
	background: linear-gradient(179.27deg, #2DB3DD 0.82%, #FFFFFF 86.37%) no-repeat;
	padding-top: 60px;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
	position: relative;
}

.button {
	height: 36px;
	width: 295px;
	background: #D8F1F9;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #000000;
}

.secondary {
	background: #66C7E6;
}
